.card {
    margin: 20px 0;
    width: 23%;
    height: 350px;
    background-color: darkgray;
    color: white;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.card:hover {
    background-color: rgb(112, 112, 112);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}

.card-text {
    margin: 0;
    font-size: 25px;
    padding: 10px 0;
}