.btn {
    padding: 10px 15px;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border-radius: 5px;
}

.btn:hover {
    transition: border 300ms;
    border: 1px solid rgb(98, 98, 255);
}